@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";


.fullwidth {
    width: 100%;
}

.app-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-box > .card {
    min-height: 150px;
    padding-top: 18px;
}

#add-chart>.card:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    transition: box-shadow 0.25s;
}


#add-chart {
    cursor: pointer;

}

.level-input {
    position: relative;
}
.level-input > input {
    background: transparent;
    color: transparent;
    caret-color: rgb(74, 74, 74);
}

.level-value {
    position: absolute;
    flex: 1;
    pointer-events: none;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-right: 11px;
    padding-left: 12px;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.chart-x {
    padding-left: 4px;
    cursor: pointer;
    font-size: 22px;
}

.req-x {
    padding-left: 0px;
    cursor: pointer;
    font-size: 18px;
}

.overflow-wrap {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.overflow-wrap:hover {
    white-space: normal;
}
